/* 
    General Styles
*/
.logo-image{
    width: 126px;
    height: 59px;
    /* border-radius: 30%; */
    /* overflow: hidden; */
    margin-top: -6px;
    padding-top: 5px;
}
body{
    background: rgb(192, 192, 192);
    font-family: sans-serif;
    font-weight: 200;
}
.homePage{
    margin: 0px 70px 0px 70px;
}
h2{
    color: rgb(133, 19, 19);
    text-decoration: underline;
}
.dataRow{
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}
.icons{
    font-size: 20px;
    float: right;
}
/* .cardColors{
    background-color: #343a40;
     color: white;
} */
/* .card-img-top{
    width: 200px;
}
.card{
    width: 200px;
    height: 200px;
    

} */
